@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&display=swap');

body{
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
header{
    background-color: rgba(249, 215, 171, 0.543);
    padding: 30px 0 0;
}
nav{
    display: flex;
    flex-direction: column;
}
nav div{
    flex: 1 1 auto;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 15px;
    display: block;
    font-size: 0.9rem;
}
nav a:hover{
    background-color: burlywood;
}
h2{
    font-size: 2.5rem;
    margin: 30px 0 0;
}
p{
    text-align: justify;
    margin: 15px 30px;
}
.scenarios h3{
    text-align: justify;
    margin: 15px 30px;
}
.color table{
    width: 100%;
    border-collapse: collapse;
}
.color th{
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 1.5rem;
}
td{
    padding: 10px
}
.color1{
    background-color: #1F5F5B;
}
.color2{
    background-color: #06373A;
}
.color3{
    background-color: #CECECE;
}
.color4{
    background-color: #E8E9F3;
}
.exampleh{
    font-family: 'Poppins', sans-serif;
}
.exampleh h2{
    font-size: 1.5em;
}
.example{
    font-family: 'PT Sans', sans-serif;
}
footer{
    padding: 30px;
}