@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&display=swap');

/*overall body formatting*/
body{
    background-image: url("../images/pglakelowellfall.jpg");
    /* background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/pglakelowellfall.jpg" ); */
    background-color: rgba(0, 0, 0, 0.19);
    font-family: 'PT Sans', sans-serif;
    /* color: darkblue;
    background-color: cornflowerblue; */
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #CECECE;
}
/* img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
header{
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: solid #CECECE;
    display: flex;
}
button{
    border: none;
    width: 20vw;
    height: 8vh;
    border-radius: 10%;
    font-size: 1.2rem;
    background-color: rgb(55, 55, 134);
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
button:hover{
    background-color: #CECECE;
    color: black;
    cursor: pointer;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
img[data-src] {
    filter: blur(0.2em);
}
img{
    filter: blur(0em);
    transition: filter 0.5s;
}

/*hp specific formatting*/
header img{
    width: 60px;
    height: 60px;
    padding-right: 10px;
}
header .small{
    font-size: 3rem;
    padding: 0;
    margin: auto 0;
}
header .big{
    display: none;
}
header .city{
    color: #CECECE;
}
header .left{
    margin-left: auto;
    font-size: 1.5rem;
}
nav #hamburgerBtn{
    background-color: transparent;
    border: none;
    font-size: 3rem;
    box-shadow: none;
    color: black;
}
nav ul li{
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: 1rem;
    border-left: 4px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
nav ul li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
nav ul li.active {
    background-color: #CECECE;
}
nav ul li.active a{
    color: darkblue;
}
#primaryNav.open{
    display: block;
}
nav ul li{
    display: none;
}
#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}
#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}
header div.date{
    display: block;
}
main{
    display: flex;
    flex-direction: column;
}
main div{
    width: 95%;
    margin: 2vw auto;
    height: fit-content;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-color: rgba(100, 149, 237, 0.5);
    border-radius: 2% 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 1.3rem;
}
main .hero{
    background-color: transparent;
    border-top: none;
    /* padding: 5px; */
    /* border-radius: 2% 2%; */
    box-shadow: none;
    /* z-index: 2; */
    height: fit-content;
}
main .hero h1{
    /* z-index: 4; */
    float: left;
    font-size: 2rem;
    margin: 0;
    position: absolute;
    /* top: 28%; */
    padding-left: 4vw;
    /* background-color: transparent; */
    border-top: none;
    box-shadow: none;
    height: fit-content;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
}
main .hero img{
    width: 100%;
    /* height: 100%; */
    /* z-index: 1; */
}
.joinBtn{
    /* z-index: 4; */
    float: right;
    top: 65%;
    left: 75%;
    position: absolute;
}
main .date{
    height: fit-content;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
}
main .spotlights{
    overflow: scroll;
    height: 60vh;
}
main .spotlights::-webkit-scrollbar{
    display: none;
}
main .spotlights #spotlightOne{
    height: fit-content;
}
main .spotlights #spotlightTwo{
    height: fit-content;
}
main .spotlights #spotlightThree{
    height: fit-content;
}
.join{
   display: none; 
}
.join .joinBtn2{
    width: fit-content;
}
/*Discover page*/
/*Sideshow*/
.demographics {
    max-width: 1000px;
    position: relative;
    margin: 30px auto;
    height: 50vh;
}
.slides{
    display: none;
}
.previous, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.previous{
    left:0;
}
.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: #CECECE;
}